/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-datepicker3";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:200,400);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

html {
	font-family: 'Indie Flower', cursive;
	// font-family: 'Work Sans', sans-serif;
	font-weight: 200;
}

body {
	background-image: url(leafy.png);
	background-size: cover;
}

h1 {
	font-family: 'Indie Flower', cursive;
	// font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	color: rgba(255,255,255,1);
}

.navbar-default {
	background-color: rgba(255,255,255,1);
	color: rgba(196,196,196,1);
	border: none;
}

.navbar-default .navbar-collapse {
	border: none;
}

.navbar-default .navbar-brand {
	color: rgba(196,196,196,1);
	font-size: 1.9em;

	&:hover {
		color: rgba(173,173,173,1);
	}
}

.navbar-default .navbar-nav > li > a {
	color: rgba(196,196,196,1);
	font-size: 1.1em;

	&:hover {
		color: rgba(173,173,173,1);
	}
}

.navbar-default .navbar-toggle {
	border-color: rgba(196,196,196,1);

	&:hover {
		background-color: transparent;
	}

	&:focus {
		background-color: transparent;
	}
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: rgba(196,196,196,1);
}

#task-form {
	display: none;
}

a.task {
	color: rgba(196,196,196,1);
	font-family: 'Indie Flower', cursive;
	font-size: 1.4em;
	word-break: break-all;
	
	&:hover {
		text-decoration: line-through;
		color: rgba(173,173,173,1);
	}
}

.btn {
	font-weight: 200;
}

body {
	margin-top: 70px;
	font-family: 'Indie Flower', cursive;
	// font-family: 'Work Sans', sans-serif;
	font-weight: 200;
}

label {
	color: rgba(255,255,255,1);
}

#well {
	background-color: rgba(255,255,255,1);
	border-radius: 6px;
	padding: 2% 4% 2% 4%;
	margin-bottom: 1%;
	font-size: 1.1em;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.flash {
	text-align: center;
	margin-top: 4%;
	padding: 1% 0 1% 0;
	border-radius: 6px;
	background-color: #5CB85C;
	color: #FFFFFF;
}

.text-success {
	color: #EEEEEE;
}

#btn-sucks {
	margin-left: 20px;
	background-color: transparent;
	border: 1px solid rgba(196,196,196,1);
	color: rgba(196,196,196,1);
	text-shadow: none;

	&:hover {
		background-color: rgba(196,196,196,0.4);
		color: rgba(255,255,255,1);
	}
}

.pull-right {
	color: rgba(196,196,196,1);
}

.pull-left {
	padding-top: 0.6%;
}

#tasks {
	padding: 0 10% 0 10%;
}

#add {
	text-align: center;
	padding: 0 30% 0 30%;
}

#new-button {
	background-color: rgba(255,255,255,1);
	color: rgba(196,196,196,1);
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);

	&:hover {
		background-color: rgba(245,245,245,1);
		color: rgba(173,173,173,1);
	}
}

#form-butt {
	background-color: rgba(255,255,255,1);
	color: rgba(196,196,196,1);
	border: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);

	&:hover {
		background-color: rgba(245,245,245,1);
		color: rgba(173,173,173,1);
	}
}





