<div class="well">
	<%= user_task.description %>
	<div class="pull-right">
		<%= user_task.due.try(:stamp, 'Monday, July 7, 1995') %>
		<%= link_to fa_icon('pencil'), edit_user_task_path(user_task), remote: true %>
		<%= link_to fa_icon('trash'), user_task, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>
</div>